.scoreTab{
    width: 300px;
    border-radius: 10px;
    border: 1px solid chartreuse;
    color: white;
    font-size: 1.6rem;
    font-weight: bolder;
    font-family: secondaryFont;
    padding: 8px;
}
